* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

/* =========================================== */

h2 {
    text-align: center;
    font-family: 'Montserrat-bold';
    font-size: 60px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat-bold';
    font-size: 40px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Montserrat-bold';
    font-size: 18px;
}

p {
    font-family: 'RobotoSlab-regular';
}

a {
    text-decoration: none;
    text-transform:uppercase;
}

li {
    list-style: none;
}

/* =========================================== */

.wrapper_block {
    width: 100%;
}

.rubber_block {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
}

.section_padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_padding_02 {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* =========================================== */

.background_01 {
    background-color: rgb(249, 249, 249);
}

.background_02 {
    background-color: rgb(124, 197, 118);
}

.background_03 {
    background-color: rgb(233, 233, 233);
}

.background_04 {
    background-color: rgb(34, 34, 34);
}

.color_01 {
    color: rgb(204, 204, 204);
}

.color_02 {
    color: rgb(255, 255, 255);
}

.color_03 {
    color: rgb(119, 119, 119);
}

.color_04    {
    color: #7cc576;
}

.color_05 {
    color: rgb(85, 85, 85);
}

/* =========================================== */

.nav_block {
    min-height: 115px;
    padding-top: 54px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.nav_content {
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.menu > li {
    margin-left: 30px;
    font-family: 'Montserrat-regular';
    font-size: 14px;
}

.menu > li > a:hover {
    color:rgb(194, 189, 189)
}

/* =========================================== */

.portfolio_block {
    padding-top: 119px;
    padding-bottom: 120px;
    box-sizing: border-box;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.portfolio_content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio_content > h2 {
    font-size: 68px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.portfolio_content > p {
    margin-top: 43px;
    margin-bottom: 56px;
    font-size: 20px;
}

.link_01 {
    padding: 30px 36px;
    border-radius: 80px;
    background-color: rgb(124, 197, 118);
    font-size: 16px;
    font-family: 'Montserrat-bold';
}

/* =========================================== */

.services_block {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services_block > h3 {
    text-align: center;
}

.headline_text {
    margin-top: 22px;
    margin-bottom: 85px;
    font-size: 20px;
    text-align: center;
}

.services_list {
    display: flex;
    margin-left: -35px;
    margin-right: -35px;
}

.miniblock {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
}

.miniblock > h4 {
    text-align: center;
    text-transform: uppercase;
}

.miniblock > p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.miniblock_img {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
    height: 50px;
}

/* =========================================== */

.gear_block {
    display: flex;
    width: 100%;
}

.img_gear {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    overflow: hidden;
}

.img_gear > img {
    width: 392px;
    margin-right: -195px;
}

.back_img {
    display: flex;
    flex-direction: column;
    background-image: url(../img/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 70%;

}

.back_img > div {
    margin-left: 100px;
    box-sizing: border-box;
    max-width: 840px;
}

.back_img h3 {
    margin-bottom: 40px;
}

.back_img > div > p {
    margin-bottom: 15px;
    font-size: 16px;
}

.advantages_list li {
    display: flex;
    align-items: center;
}

.advantages_list p {
    margin: 10px 20px;
}

.link_02 {
    text-align: center;
    width: 165px;
    margin-top: 30px;
    margin-left: 100px;
    padding: 25px 36px;
    border-radius: 80px;
    font-size: 16px;
    font-family: 'Montserrat-bold';
}

/* =========================================== */

.project_block {
    box-sizing: border-box;
    background-image: url(../img/pic_iPad.png);
    background-repeat: no-repeat;
    background-position: 100% 200px;
    background-size: 650px;
}

.header {
    flex-direction: column;
}

.header > h3 {
    text-align: center;
    margin-bottom: 10px;
}

.header > p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.project_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.subtitle {
    margin-bottom: 30px;
}

.subtitle > h4 {
    margin-bottom: 27px;
    text-transform: uppercase;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
}

.item_text{
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.arrow {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'Montserrat-bold';
    line-height: 18px;
    display: inline-block;
}
.arrow .arrow-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}
.arrow .arrow-iconcircle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.arrow:hover .arrow-icon {
    transform: translate3d(5px, 0, 0);
}
.arrow:hover .arrow-iconcircle {
    stroke-dashoffset: 0;
}

/* =========================================== */

.values_block {
    flex-direction: column;
    text-align: center;
}

.values_block > p {
    margin-top: 20px;
    margin-bottom: 85px;
}

.values_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.column > p {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.column > h4 {
    text-transform: uppercase;
}

.icon_04 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 2px solid rgb(119, 119, 119);
    margin-bottom: 15px;
}

.horizontal_line {
    margin-bottom: 105px;
    margin-left: -57px;
    margin-right: -57px;
    width: 190px;
    height: 2px;
    background-color: rgb(119, 119, 119);
}

/* =========================================== */

.clients_block {
    flex-direction: column;
    text-align: center;
}

.clients_block > p {
    margin-top: 15px;
    margin-bottom: 80px;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.container:last-child {
    margin-bottom: 0px;
}

.container:nth-of-type(even) {
    flex-direction: row-reverse;
}

.container:nth-of-type(even) > .arrow_02 {
   transform: rotate(180deg);
   margin-right: 27px;
   margin-left: 2px;
}

.circle {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    margin-right: 27px;
    background-color: rgb(249, 249, 249);
}

.arrow_02 {
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 24px solid rgb(249, 249, 249);
}

.rectangle {
    background-color: rgb(249, 249, 249);
}

.rectangle > p {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}

/* =========================================== */

.contact_block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link_04 {
    border-radius: 5px;
    border: 4px solid rgb(255, 255, 255);
    margin-top: 17px;
    padding: 16px 29px;
    font-size: 18px;
    font-family: 'Montserrat-bold';
}

/* =========================================== */

.partners_content {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.partners_content > img {
    margin: 10px;
}

/* =========================================== */

.info_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info_list > li {
    width: 33.3%;
    min-width: 250px;
}

.info_list li h4 {
    margin-bottom: 28px;
    text-transform: uppercase;
}

.info_list p {
    margin-bottom: 20px;
    font-size: 16px;
}

.line {
    display: flex;
    flex-direction: row;
}

.line > div {
    align-items: flex-start;
    justify-content: center;
    margin-right: 18px;
}

.text_01 {
    font-family: 'RobotoSlab-bold';
    font-size: 16px;
}

.text_02 {
    font-size: 12px;
}

/* =========================================== */

.footer_padding {
    padding-top: 28px;
    padding-bottom: 32px;
}

.footer_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-right: 120px;
    font-family: 'Montserrat-regular';
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.footer_links {
    display: flex;
}

.footer_links > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: rgb(34, 34, 34);
    margin-right: 10px;
    margin-left: 10px;
}

/* =========================================== */

@media (max-width: 1120px) {
    .info_list {
        flex-wrap: wrap;
    }
    .contact_block {
        text-align: center;
    }
    .partners_content {
        justify-content: center;
        align-items: center;
    }
    .horizontal_line {
        display: none;
    }
    .column {
        margin: 10px;
    }
    .column > h4 {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .info_list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .info_list > li {
        text-align: center;
        min-width: 400px;
    }
}


@media (max-width: 900px) {
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 16px;
    }
    .project_block {
       background-image: none;
    }
    .project_list {
        justify-content: center;
        align-items: center;
    }
    .circle {
        height: 150px;
        width: 150px;
    }
    .icon_04 {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 800px) {
    h4 {
        font-size: 14px;
    }
    .rectangle > p {
        text-align: center;
        font-size: 16px;
        margin-bottom: 0px;
    }
}

@media (max-width: 700px) {
    h4 {
        font-size: 16px;
    }
    .portfolio_content > h2 {
        font-size: 40px;
    }
    .img_gear {
        display: none;
    }
    .back_img {
        width: 100%;
    }
    .circle {
        height: 100px;
        width: 100px;
    }
    .services_list {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .miniblock {
        width: 100%;
    }
    .miniblock_img {
        margin-top: 15px;
    }
    .values_list {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .column {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .footer_block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_text {
        justify-content: center;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

